.audio-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audio-input {
  display: none;
}

.audio-input-label {
  margin: 1em 0 0 0;
  padding: 10px 20px;
  background-color: #F6F6F6;
  border-radius: 1.5em;
  font-weight: bold;
}

.audio-input-label:active {
  background-color: #FFC7C7;
}

.audio-file-name {
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.wave-form {
  margin: 1em 0 0 0;
  width: 50%;
}
