.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.control-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='range']::-webkit-slider-thumb {
  background-color: var(--color-text);
}

.control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.download-btn {
  background-color: #00b846;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}

.download-btn:active {
  background-color: #00ff62;
}
